<div class="row m-0">
    <div class="col-md-9 container">
        <h5 class="mt-3 font-weight-bold">Arbetslivserfarenhet</h5>
        <hr class="mt-0 ">

        <div class="row ">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2020 - 2020</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">JobMeal - Servicetekniker</p>
            </div>
        </div>
        <div class="mb-5">
            <p>En tjänst där mitt ansvar var att se till att det alltid fanns påfyllt kaffe ute hos kunderna, att det var snyggt och rent och att sidoprodukter alltid var påfyllt. Jag hade som ansvar att se till att service för kaffemaskiner utfördes regelbundet. Jag var ansiktet utåt för företaget och fick fin relation med personal som jobbade hos våra kunder. </p>
        </div>

        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2019 - pågående</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">I’m a runner - Ekonomi samt schemakoordinator </p>
            </div>
        </div>
        <div class="mb-5">
            <p>Löpande bokföring, månadsvisa uppföljningar av budget samt löner. Schemaläggning av kurser och gruppträning. Kundsupport på mail samt telefon. Projektledare för I’m a runnerloppet 2020. </p>
        </div>

        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2016 - 2020</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Ekeby städ - Lokalvårdare </p>
            </div>
        </div>
        <div class="mb-5">
            <p>En tjänst där jag är företagets ansikte ut mot kunder. Ett arbete som kräver noggrannhet och planering.</p>
        </div>

        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2012 - 2019</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Idrottsbudet/Best transport - Storkundsansvarig </p>
            </div>
        </div>
        <div class="mb-5">
            <p>Följde med en kund från Exacta logistik till Idrottsbudet. Startade min tjänst med att ha hand om en kunds nätbutik. Det innebar att jag tog hand om varorna vid inleveranser, orderplock, transportbokningar och uppföljning av sändningar. Kundsupport av returer samt orderstatus. År 2014 köptes Idrottsbudet upp av Best Transport som ledde till kompletterande arbetsuppgifter inom logistik.</p>
        </div>

        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2011 - 2012</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Exacta logistik 3PL- Lagerarbetare </p>
            </div>
        </div>
        <div class="mb-5">
            <p>Kund- samt leverantörskontakt, inleveranser, lagerhantering, orderplock, packning av order, transportbokningar samt inventeringar. </p>
        </div>

        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2008 - 2011</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Avdelningsansvarig samt kassör</p>
            </div>
        </div>
        <div class="mb-5">
            <p>En tjänst som innebar inköp, varuplock, planering, prestationsuppföljning samt service mot kund. </p>
        </div>

        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2007-2008</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Sibylla - Snabbköksbiträde </p>
            </div>
        </div>
        <div class="mb-5">
            <p>En tjänst som krävde ett bra teamwork och att klara av att jobba under tidspress och att kunna ha flera bollar i luften.</p>
        </div>

        


        <h5 class="mt-3 font-weight-bold">Utbildning</h5>
        <hr class="mt-0">

        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2020 - pågående</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Frontend utvecklare - Ec utbildning </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2015 - 2017</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Ekologisk hudvårdsterapuet - Axelsons gymnastiska institut. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2015</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Basmedicin 1 - Axelsons gymnastiska institut </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 ">
                <p class="font-weight-bold">2004 - 2007</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Internationell ekonomi och politik - Gymnasial utbildning </p>
            </div>
        </div>


    </div>
    
    
    <div class="col-md-3 col-xl-2 banner py-3 order-first order-md-last" >
        <img
        src="../../../assets/IMG_0600.jpg"
        class="img-fluid rounded-circle my-4 px-5 "
        alt=""
        />
        <h4 class="text-center">Sandra Lövqvist</h4>
        <h1 class="h5 text-center font-weight-light mb-4">Frontend utvecklare</h1>
        <div class="row text-center">
            <div class="col col-md-12 mb-4">
                <p class="mb-0 mt-2">Programkunskap</p>
                <p class="fst-italic fw-lighter m-0">Html</p>
                <p class="fst-italic fw-lighter m-0">Css</p>
                <p class="fst-italic fw-lighter m-0">JavaScript</p>
                <p class="fst-italic fw-lighter m-0">React</p>
                <p class="fst-italic fw-lighter m-0">Vue</p>
                <p class="fst-italic fw-lighter m-0">Angular</p>
            </div>
            <div class="col col-md-12 mb-4">
                <p class="mb-0 ">Språk</p>
                <p class="fst-italic fw-lighter m-0">Svenska - Modersmål</p>
                <p class="fst-italic fw-lighter m-0">Engelska - Goda kunskaper</p>
            </div>
            <div class="col col-md-12">
                <p class="mb-0">Övrigt</p>
                <p class="fst-italic fw-lighter m-0">Truckkort - A, B 1-4</p> 
                <p class="fst-italic fw-lighter m-0">B-körkort</p>           </div>
        </div>    
    </div>
</div>
