<div class="row m-0">
    <div class="col-md-8  p-0 align-items-center d-flex justify-content-center">
        <div class="border contact-form p-5 text-center text-md-left" >
            <h2>Sandra Lövqvist</h2>
            <h4 class="font-weight-light mb-4">Frontend utvecklare</h4>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi tempore fuga aliquid, vero magni id unde aliquam sint aspernatur voluptatibus odit totam odio dolores, deserunt temporibus labore eum molestias vitae, repellat est. Nostrum ea incidunt fugiat sit nihil dolores soluta inventore! Expedita obcaecati placeat odit! Cumque sed eos rerum.</p>       
                    
        </div>
    </div>
    <div class="col-md-4 py-3 ">
        <img
        src="../../../assets/IMG_0600.jpg"
        class="img-fluid rounded-circle my-4 px-5 "
        alt=""
        />
    </div>
</div>